*   {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    background-color: #ececec;
    text-align: left;
    }

.flex-conteiner{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    }
   
.flex-item{
    color: rgb(36, 36, 36);
    height: end;
    text-align: justify;
    }

.caja-izq{
    flex-grow: 2;
    min-width:50px;
    max-width:100px;
    }

.caja-cen{
     flex-grow: 3;
    }

.caja-der{
    flex-grow: 2;
    min-width:50px;
    max-width:100px;
    }

h1  {
    background-color: #7092CB;
    color:#ffffff;
    margin-left: 0;
    margin-top: 0;
    padding: 10px;
    padding-left: 20px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

p   {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    }    

h4  {
    background-color: #7092CB;
    color:#ffffff;
    margin-left: 0;
    margin-top: 0;
    padding: 10px;
    padding-left: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    }    

.svg-logo{
    background-color: #7092CB;
    margin-right: 10px;
    width: 52px;
    height: 20px;
    fill: #ffffff;
    }
        
@media print {
    
    h1, h4  {
        color: #000000;
            }
    h4  {
        font-size: 15px;
        border-top-width: 1px;
        border-top-color: #000000;
        border-top-style: solid;
        }
        
    p   {
        font-size: auto;
        border-top-width: 1px; 
        border-top-color: #000000;
        border-top-style: solid;
        }    
    .svg-logo{
        fill: #000000;
        }
                
    }



